* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }   

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        display:flex;
        justify-content: center;
        padding: 20px;
    }   

    .container {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        width: 100px;
        max-width: 1200px;
    }

    h1 {
        text-align: center;
                margin-bottom: 33px;

    }
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .balance {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .balance-container h1 {
        font-size: 36px;
        margin: 15px 0;
    }   
    .summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .summary div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-top: 24px;
    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
    }

    .income, .expense {
        background: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .income:hover, .expense:hover {
        background: #e9e9e9;
    }
    .income h3, .expense h3 {
        margin-bottom: 10px;
    }
    .expense-list, .income-list {
        list-style: none;
        max-height: 200px;
        overflow-y: auto;
        margin-top: 10px;
        padding: 0;
    }
    .expense-list li, .income-list li {
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .expense-list li:nth-child(odd), .income-list li:nth-child(odd) {
        background: #f1f1f1;
    }
    .expense-list li:hover, .income-list li:hover {
        background: #e1e1e1;
    }
    .delete-btn {
        background: #ff4d4d;
        border: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    .delete-btn:hover {
        background: #e04343;
    }


    .add-transaction {
        margin-top: 20px;
    }
    